@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* slide from bottom */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* base animation */
.animate-slide-up {
  animation: slideUp 0.7s ease-out forwards;
  opacity: 0;
}

/* delays */
.delay-1 { animation-delay: 0.5s; }
.delay-2 { animation-delay: 1s; }
.delay-3 { animation-delay: 1.5s; }
.delay-4 { animation-delay: 2.2s; }


